<style>
  body {
    background: url('http://i.imgur.com/Eor57Ae.jpg') no-repeat fixed center center;
    background-size: cover;
    font-family: Montserrat;
  }
</style>

<div id="login_form">
  <div class="login-block center_div">
    <h1><strong>Login</strong></h1>
    <%= form_for :user, url: login_path, method: :post do |f| %>
      <%= f.text_field :email, value: '', placeholder: 'Email', id: 'username', required: true %>
      <%= f.password_field :password, value: '', placeholder: 'Password', id: 'password', required: true %>
      <%= f.button 'Login', type: 'submit', id: 'submit_button' %>
    <% end %>
  </div>
</div>