<div class="row">
  <div class="col-mid-12">
    <div class="card">
      <div class="card-block">
        <h4 class="card-title"><%= "#{venue.name} - #{venue.region.name}" %></h4>
        <p class="no_padding"><%= venue.full_address %></p>
      </div>
    </div>
  </div>
</div>